@import "mixins";


// fonts weights available: Ubuntu:400,400i,700
body {
            font-family: 'Ubuntu', sans-serif;
            line-height: 1.4em;
}


.footer {
            font-family: helvetica, serif;
            font-size: 12px;
            color: white;
            text-align: center;
            background: black;
            height: 32px;
            padding-top: 10px;
}



@media (max-width: 768px) {

}
